/* Black & White SwayNC Theme */

/* Global font */
* {
    font-family: "JetbrainsMono NFP SemiBold", monospace;
}

/* Notification */
.notification {
    background-color: #000000; /* black background */
    color: #ffffff; /* white text */
    border: 2px solid #ffffff; /* white border */
    border-radius: 10px;
    padding: 10px;
}

.notification .body {
    color: #ffffff;
}

.notification .summary {
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
}

.notification .time {
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    margin-right: 18px;
}

.notification .close-button {
    background-color: #ffffff;
    color: #000000;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 6px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Progress bars in notifications */
.notification.critical progress,
.notification.low progress,
.notification.normal progress {
    background-color: #ffffff;
}

/* Control Center */
.control-center {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px;
}

/* Notifications expanded-group */
.notification-group {
    background-color: transparent;
    margin: 2px 8px;
    font-size: 14px;
}

.notification-group-icon,
.notification-group-headers {
    color: #ffffff;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background-color: #ffffff;
    color: #000000;
    margin: 4px;
    border-radius: 6px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Widget title */
.widget-title {
    color: #ffffff;
}

.widget-title button {
    font-size: 1rem;
    color: #ffffff;
    background-color: #111111;
    box-shadow: none;
}

.widget-title button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Buttons grid */
.widget-buttons-grid {
    font-size: x-large;
    background-color: #111111;
}

.widget-buttons-grid button {
    border: none;
    min-width: 35px;
    background-color: #000000;
    color: #ffffff;
    margin: 8px;
    padding: 10px;
}

.widget-buttons-grid button:hover {
    background-color: #ffffff;
    color: #000000;
}

.widget-buttons-grid button.toggle:checked {
    background-color: #ffffff;
}

.widget-buttons-grid button.toggle:checked label {
    color: #000000;
}

/* DND widget */
.widget-dnd {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: large;
    color: #ffffff;
}

.widget-dnd label {
    color: #ffffff;
}

.widget-dnd switch {
    background-color: #111111;
    color: #ffffff;
    border-radius: 6px;
}

.widget-dnd switch:checked {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
}

/* Volume widget */
.widget-volume {
    background-color: #111111;
    color: #ffffff;
    font-size: x-large;
}

/* Music player widget */
.widget-mpris {
    background-color: transparent;
    margin: 8px;
}

.widget-mpris button {
    background-color: transparent;
    border-radius: 6px;
}

.widget-mpris button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Sliders */
trough slider {
    background-color: #ffffff;
}

trough slider:hover {
    background-color: #ffffff;
}

trough highlight {
    background-color: #ffffff;
}

